#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;    
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}

.skillDescription {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    text-align: center;
}


.skillBars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}


.skillBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.0rem 1.5rem;
    border-radius: 0.5rem;
    background: white;
    flex: 1 1 200px;
    max-width: 500px;
}


.skillBarImg {
    margin-bottom: 15px;
    width: 100px;
}

.uvaSkillBarImg {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
}

.skillBarText {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    padding: 1rem 0;
}


@media screen and (max-width:720px){
    .skillBarText>p {
        font-size: 2vw;
    }
}


@media screen and (max-width:480px){
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}